body {
    font-family: 'Poppins', sans-serif;
    background-image: url("../images/fondo.webp");
    background-size: cover;
  }
  
  h1 {
    text-align: center;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    background-color: #0f0636;
    padding: 1vh;
  }

  .nav-links {
      list-style: none;
      display: flex;
      gap: 2vw;
  }

  .nav-links a {
      color: white;
      text-decoration: none;
  }

  .logo{
    width: fit-content;
    height: fit-content;
  }

  .logo-img {
    width: auto; /* O cualquier valor que necesites */
    height: 10vh; /* Mantiene la proporción */
  }

@media (max-width: 800px) {

  body{
    background-image: url("../images/fondoCelular.jpg");
    background-size: cover;
  }

  .navbar {
    display: flex;
    align-items: center;
    background-color: #0f0636;
    padding: 1vw ;
  }

  .nav-links {
      list-style: none;
      display: flex;      
  }

  .logo-img {
    width: auto;
    height: 5vh;
  }

}

  
  