.productosContenedor{
    width: 80vw ;
    height: 100hv;
    margin-top: 8vh;
    margin-left: 10vw;
}

.productosPaginacion {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 5vh;
    column-gap: 5vw;
  }
  
.productosPresentacion{
    display: flex;
    width: fit-content;
    height: fit-content;
}

.cartaPresentacion{
  background-color: aliceblue;
  padding:1vh 1vw;
}

.productosPresentacion a {
    text-decoration: none;
}

.productosPresentacion:hover {
    text-decoration: none;
    transform: scale(1.1);
}

.titulo {
  font-family: 'Poppins', sans-serif;
  font-size: clamp(1.5rem, 2vh, 2rem);
  line-height: 1.4;
  text-align: center;
  color: black;
  text-decoration: none;
}

  .imagenMuestra{
    width: 100%;
    height: auto;
  }

  .contBotones{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    width: fit-content;
    height: fit-content;
  }
  .boton{
    background-color: rgba(0, 0, 255, 0.329);
    width:40px;
    height: 40px;
    font-size: 1rem;
    font-weight: 1000;
    border-radius: 50%;
    color: black;
  }


  .loading {
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
    color: #0f0636;
}

@media (max-width: 800px) {

  .productosContenedor{
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.productosPaginacion {
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }

  .productosPresentacion{
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 10vw;
  }

.titulo{
    font-size: clamp(1rem, 5vw, 1.60rem);
    text-align: center;
    text-decoration: none;
}

  .imagenMuestra{
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    max-width: 100%;
    height: auto;
  }
 






}