  h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: clamp(1.50rem, 2vw, 2rem);
    color: #ffffff;
  }

  p {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1rem, 1vw, 1.25rem);
    line-height: 1;
    color: #ffffff; 
    text-align: center;
  }

  p:last-child {
      font-weight: bold;
      color: #ffffff;
  }


  .contenedor {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 90vw;
    height: 78vh;
    margin-top: 3vh;
    margin-left: 5vw;
    gap: 1vw;
  }


  .fotoZoom {

    width: fit-content;
    height: 78vh;
    text-align: center;
    background-color: rgb(19, 18, 114);

  }
  

  .imagen{
    width: auto;
    box-sizing: border-box;
    border: 20px inset #854008;
    height: 100%;
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover;
  }

  .miniContenedor {
    
    display: grid;
    grid-column: auto, 1fr;
    width: 100%;
    height: 78vh;
    gap: 1vh;
 }
 
  .detalles{
    
    border-radius: 8px;
    box-sizing: border-box;
    background-color: rgb(19, 18, 114);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .titulo {
    
    border-radius: 8px; 
    background-color: rgb(19, 18, 114);
}

  .descripcion {
      box-sizing: border-box;
      background-color: rgb(14, 15, 39);
      padding: 1rem;
  }

  .precio{
    border-radius: 8px;
    background-color: rgb(19, 18, 114);
  }
  
  .galeria {
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(19, 18, 114);
    border: 5px solid rgb(19, 18, 114);
    display: flex;
    width: 100%;
    height: 55%;
    position: relative; /* Necesario para que los botones se posicionen respecto a este contenedor */
    overflow: hidden; /* Esconde el desbordamiento de las imágenes */
}

.imagenesCont {
    display: flex;
    overflow-x: hidden; /* Permite el desplazamiento horizontal */
    scroll-behavior: smooth; /* Hace que el desplazamiento sea suave */
    gap: 1%; /* Espaciado entre imágenes */
}

.miniImagen {
    min-width: 25%;
    height: auto;
    object-fit: cover;
    border: 1px solid #ddd; 
    background-color: white;
}

.miniImagen:hover {
    object-fit: cover; 
    border: 1px solid #000000;
    background-color: white;
}


.btn-scroll {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-scroll.left {
  left: 10px; /* Posiciona el botón a la izquierda */
}

.btn-scroll.right {
  right: 10px; /* Posiciona el botón a la derecha */
}

.btn-scroll:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Hace el botón más oscuro al pasar el ratón */
}


 /* Ajuste para dispositivos celulares */
 @media (max-width: 800px) {

  h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: clamp(1.1rem, 2vw, 1.8rem);
    color: #ffffff;
  }

  p {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(0.7rem, 2vw, 1.6rem);
    color: #ffffff; 
    text-align: center;
  } 
  
  .contenedor {
    display: flex;
    flex-direction: column;
    width: 75vw;
    position: relative;
    height: auto; /* Ajustar la altura en móviles */
    gap: 0px;
    margin-left: auto;
    margin-right: auto;
    }
  
    .fotoZoom {
      height: fit-content;
      height: fit-content;
      background-color: #00000000;
    }
  
    .imagen {
      width: 100%;
      height: auto;
    }

    .miniContenedor {
      display: flex;
      flex-direction: column;
      gap: 0.5vh;
      width: 100%;
      height: 100%
   }
   
    .detalles{
      order: 2;
      width: 100%;
      height: fit-content;
    }
    
    .galeria {
      order: 1;
      width: 100%;
      height: 10vh;
  }

    .imagenesCont {
      display: flex;
      gap: 1vw; /* Espaciado entre imágenes */
  }

  .miniImagen {
      min-width: 25%;
      height: auto;
      object-fit: cover;
      border: 1px solid #ddd; 
      background-color: white;
  }

  .miniImagen:hover {
      object-fit: cover; 
      border: 1px solid #000000;
      background-color: white;
  }


  
}

